.App{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container { /*PROPRIEDADES PARA TODO CONTEUDO*/
  width: 350px;
  margin: 0 auto;
  padding-top: 200px;
}

.generator { /* BLOCO*/
  background: #6764772e; 
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  padding: 20px;
  word-spacing: 5px;
}

.generator_header{ /*TITULO*/
  text-align: center;
  color:rgba(245, 245, 245, 0.376);
  margin-bottom: 20px;
  font-size: medium;
}

.generator_password{ /*ONDE SENHA VAI SER GERADA*/
  position: relative;
  background: #6764772e; 
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  padding: 15px 10px;
  padding-bottom: 5px;
  box-sizing: border-box;
  justify-content: space-around;
  color:rgba(245, 245, 245, 0.256);
  margin-bottom: 15px;
  height: 70px;
}

.copy_button { /*BOTAO DE COPIAR A SENHA*/
  position: absolute;
  background-color: #67647700;
  color:  #84d4a1;
  border: none;
  cursor: pointer;
  top: 3px;
  right: 3px;
} 
.form-lenght{ /*OPÇÃO DE LENGHT */
  display: flex;
  justify-content: space-between;
  color: rgba(245, 245, 245, 0.644);
  margin-bottom: 10px;
}

#value_lenght{ /*VALOR QUE APARECE DO LENGHT */
  color:  #84d4a1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#range-character-lenght{ /*RANGE DO LENGHT*/
  width: 300px;
  cursor: pointer;
}

.form-group{ /*ÁREA DAS OPÇÕES DE ESCOLHA */
  color: rgba(245, 245, 245, 0.644);
  margin-bottom: 10px;
}

.strength { /*ÁREA DA "STRENGHT" */
  background-color: #111019e6;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 50px;
  color: rgba(245, 245, 245, 0.256);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
  font-weight: 600;
}

.strength label {
  font-size: 12px;
  color: rgba(245, 245, 245, 0.256);
}

.strength p {
  font-size: 16px;
  color: white;
}


.generator_btn{ /*BOTAO DE GERAR A SENHA*/
  background-color:  #84d4a1;
  color: #0b0b0bc9;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
}

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/
